@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 83 43% 94%;
    --foreground: 217 54% 13%;
    --card: 83 43% 94%;
    --card-foreground: 217 54% 13%;
    --popover: 83 43% 94%;
    --popover-foreground: 217 54% 13%;
    --primary: 207 38% 47%;
    --primary-foreground: 83 43% 94%;
    --secondary: 181 38% 86%;
    --secondary-foreground: 217 54% 23%;
    --muted: 181 38% 86%;
    --muted-foreground: 207 38% 57%;
    --accent: 356 79% 56%;
    --accent-foreground: 83 43% 94%;
    --destructive: 356 79% 56%;
    --destructive-foreground: 83 43% 94%;
    --border: 181 38% 76%;
    --input: 181 38% 76%;
    --ring: 207 38% 47%;
    --chart-1: 207 38% 47%;
    --chart-2: 356 79% 56%;
    --chart-3: 181 38% 76%;
    --chart-4: 217 54% 23%;
    --chart-5: 207 38% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 217 54% 23%;
    --foreground: 83 43% 94%;
    --card: 217 54% 23%;
    --card-foreground: 83 43% 94%;
    --popover: 217 54% 23%;
    --popover-foreground: 83 43% 94%;
    --primary: 207 38% 47%;
    --primary-foreground: 83 43% 94%;
    --secondary: 217 54% 33%;
    --secondary-foreground: 83 43% 94%;
    --muted: 217 54% 33%;
    --muted-foreground: 207 38% 67%;
    --accent: 356 79% 56%;
    --accent-foreground: 83 43% 94%;
    --destructive: 356 79% 56%;
    --destructive-foreground: 83 43% 94%;
    --border: 217 54% 33%;
    --input: 217 54% 33%;
    --ring: 207 38% 47%;
    --chart-1: 207 38% 47%;
    --chart-2: 356 79% 56%;
    --chart-3: 181 38% 76%;
    --chart-4: 83 43% 94%;
    --chart-5: 207 38% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
